<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Overwatch Map Quiz</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<link rel="stylesheet" href="style.css"/>
</head>
<body class="loading">
<div id="quiz">
  <h1>{{locale.title}}</h1>
  <p>{{locale.answers}}: {{locale.correct(correct)}}, {{locale.wrong(wrong)}}. ({{score}}%)</p>
  <h2>{{locale.question(question.number)}}</h2>
  <div>
    <p>{{question.text(locale)}}</p>
    <p v-if="question.img" class="img"><img :src="question.img" alt=""/></p>
  </div>
  <div class="answers" :class="{choosing: question.selected === -1}">
    <div class="answer" v-for="(a, i) in question.answers" :key="i" :class="answerClass(i)" @click="answer(i)">
      <div v-if="a.img"><img :src="a.img" alt=""/></div>
      <div v-if="a.text">{{a.text(locale)}}</div>
    </div>
  </div>
  <p v-if="question.selected &gt;= 0" class="right"><button @click="newQuestion">{{locale.nextQuestion}}</button></p>
  <div class="preload"><img v-for="p in preload" :key="p" :src="p" alt=""/></div>
</div>
<script src="vue.global.prod.js"></script>
<script src="script.js"></script>
</body>
</html>
